.grid {
    width: 400px;
    height: 600px;
    background-image: url('./assets/cell_pixel.jpg');
    position: relative;
    font-size: 200px;
    text-align:center;
    
}

.doodler{
    width: 85px;
    height: 85px;
    position:absolute;
    background-image: url('./assets/doodler-guy.png');
}

.plataform{
    width: 85px;
    height: 15px;
    background-image:url('./assets/platform_dd.png');
    position: absolute;

}

body{
    display: flex;
    justify-content: center;
}